*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'helvetica neue', sans-serif;
    justify-content: center;
}

html, body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    padding: 30px;
    background-color: rgb(3, 37, 48);
    
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.card{
    height: 300px;
    width: 350px;
    background-color: white;
    position: relative;
    transition: all ease 0.5s;
    border-radius: 20px;
    overflow: hidden;
}

.card img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: bottom;
}

.bottom{
    height: 40%;
    width: 100%;
    position: absolute;
    background: linear-gradient(transparent, black);
    bottom: -40%; 
    /* -40% according to height */

    transition: all ease 0.3s;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.bottom h4{
    color: white;
    font-size: 25px;
}

.bottom h3{
    background-color: white;
    padding: 5px 8px;
    border-radius: 50%;
    font-size: 25px;
}

.card:hover .bottom{
    bottom: 0;
}