*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'helvetica neue', sans-serif;
}

html, body{
    height: 100%;
    width: 100%;
}

body{
    background-color: #111;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-direction: column;
}

#box{
    height: 300px;
    width: 300px;
    background-color: rgb(20, 20, 20);
    border: 2px solid white;
    border-radius: 10px;
}

button{
    height: 40px;
    width: 100px;
    padding: 10px 20px;
    background-color: crimson;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
}

button:active{
    scale: 0.95;
}