@font-face {
    font-family: wc;
    src: url(./CWC-Medium.otf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: wc;
}

html, body{
    height: 100%;
    width: 100%;
}

#main{
    height: 200%;
    width: 100%;
    background-color: rgb(171, 227, 241);
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    text-align: center;
}

#main h1{
    padding: 20px;
    font-size: 70px;
    font-weight: 900;
    color: rgb(248, 116, 29);
}

.card{
    height: 320px; 
    width: 250px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 10px 25px rgba(0, 0, 0, 0.22);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.card img{
    height: 130px;
    width: 100px;
    object-fit: cover;
    border-radius: 10%;
}

.card h2{
    font-weight: 500;
    font-size: 26px;
}

.card p{
    font-size: 14px;
    font-weight: 600;
    color: #888;
    text-align: center;
}

.card button{
    border-radius: 50px;
    padding: 10px 40px;
    background-color: rgb(51, 137, 242);
    border: none;
    color: white;
    font-weight: 600;
    border: 2px solid rgb(242, 117, 28);
    cursor: pointer;
}

.card button:hover{
    background-color: transparent;
    color: rgb(242, 117, 28);
}