*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'helvetica neue', sans-serif;
}

html, body{
    height: 100%;
    width: 100%;
}
body{
  background-color: whitesmoke;
}
h2{
  font-size: 50px;
}

button{
  background-color: royalblue;
  border-radius: 10px;
  padding: 10px 20px;
  margin-top: 20px;
}